@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is default home page for unauthorized user.</h2>
    <h2>In order to authorize please log in to out web-site</h2>
</div>
